html {
	font-size: 12px;
}

li { 
    margin-bottom: 1%;
}

p {
	font-size: 16px;
	margin-left: 1%;
	margin-top: 1%;
}

#bodyinput {
    width: 50%;
}

.jumbotron {
	overflow: hidden;
    /*background-size: 50%;*/
    background-position: center;
    opacity: 0.5;
    background-image: url('../images/newyork.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bold;
    color: white;
    text-align: center;
}

.panel-heading.row {
	width: 100%;
    margin-left: 0%;
}

.panel-primary {
    height: 135px;
}

#savenote {
    display: block;
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {
	
}